* {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 100px;
  margin: 20px 0 10px 0;
}

.header-sub {
  font-family: 'Bungee Shade', cursive;
  font-size: 45px;
  margin: 10px 0 20px 0;
}

.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
}

.construction-bar {
  height: 30px;
  width: 75%;
  border: 1px solid black;
  margin: 5px 0 10px 0;
}

.under-construction {
  margin: 20px 0 10px 0;
}

.link-container {
  margin: 10px 0 10px 0;
}